.services {
  padding: 80px 40px;
  background: #fafafa;

  &__wrapper {

    display: flex;
    flex-direction: column;

    width: 80%;
    margin: 80px auto;
  }

  &__titles {
    color: #e31e24;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #e31e24;
  }

  &__title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
  }

  &__all_item {
    font-size: 32px;
    color: rgba(227, 30, 36, 0.6);
  }



  &__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__link {
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  &__item {
    display: flex;
    padding: 5px;
    list-style-type: none;
    padding: 25px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 12px;
    text-align: center;
    background: #fff;
    transition: 0.2s;
    background-color: #e31e24;
    height: 180px;

    &:hover {
      border-color: #e31e24;
      transform: scale(1.01);
    }

    &_image {
      max-width: 80px; // фиксированная ширина
      min-width: 80px;
      height: 127px; // фиксированная высота
      overflow: hidden; // скрыть лишнее
      display: block;
      object-fit: cover; // самое важное — обрезка изображения
      border-radius: 8px
    }

    &_textBlock {
      padding-left: 5px;
      min-width: 0;
      flex-grow: 1;
      word-break: break-word; // переносим длинные слова
      overflow-wrap: break-word;
      hyphens: auto;
    }

    &_title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
      color: white
    }

    &_text {
      font-size: 16px;
      color: #666;
      color: white;
      // word-break: break-all;
      // line-break: normal;
      // hyphens: auto

    }
  }


}