.download {
  border: none;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  background: #e31e24;
  color: white;
  padding: 10px;
  margin: 0;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  transition: background 0.3s;
  border: 2px dashed transparent;


  &:hover {
    background: #c41a1e;
  }
}