.whoAmI {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__item {
    position: relative;
  }

  &__label {
    border: none !important;
    padding: 0;
    margin: 0;
    text-wrap: auto;
    display: flex;
    flex-direction: column;
    align-items: start;


  }

  &__button–°hoice {
    background: #e31e24;
    color: white;
    padding: 14px 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    transition: background 0.3s;
    border: 2px dashed transparent;

    &:hover {
      background: #c41a1e;
    }
  }

  &__fileName {
    background: #f8f8f8;
    border-radius: 10px;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;

    button {
      background: none;
      border: none;
      font-size: 20px;
      color: #e31e24;
      cursor: pointer;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-weight: 600;
      transform: scale(1);

      &:hover {
        transform: scale(1.2);
        font-weight: 700;
      }
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
    z-index: -1;
  }

  &__delete {
    font-size: 20px;
    color: #ff0d01;
    cursor: pointer;
    background: none;
    border: none;
    font-weight: 600;
    border: none;
    position: absolute;
    padding: 10px;
    top: 3px;
    left: -45px;
    transform: scale(1);
    transition: color 0.4s;
    transition: scale 0.4s;

    &:hover {
      transform: scale(1.2);
      font-weight: 700;
      color: #c41a1e;
    }
  }

  &__add {
    font-size: 30px;
    color: #ff0d01;
    cursor: pointer;
    background: none;
    border: none;
    font-weight: 600;
    position: absolute;
    bottom: -40px;
    padding: 0 5px;
    left: -32px;
    border-left: 3px solid red;
    border-top: 3px solid red;
    border-bottom: 3px solid red;
    border-radius: 15px 15px 15px 15px;
    transition: color 0.4s;
    transition: scale 0.4s;

    &:hover {
      transform: scale(1.1);
      font-weight: 700;
      color: #c41a1e;
    }
  }
}

.goods {
  &__download {
    border-left: 1px solid #c41a1e;
    border-top: 3px solid #c41a1e;
    // border-bottom: 2px solid #c41a1e;
    border-radius: 15px 0 0 15px;

    padding: 10px 0;
    padding-top: 20px;
    padding-right: 60px;
    position: relative;
    left: -20px;
    bottom: -3px;
    display: inline;
    min-width: 155px;
  }

  &__loadBack {
    border-right: 3px solid #c41a1e;
    border-top: 3px solid #c41a1e;
    border-bottom: 3px solid #c41a1e;
    border-radius: 0 15px 15px 0;
    width: 215px;

    &_header {
      padding: 5px 0;
    }
  }
}

.buttonShow {
  align-self: flex-end;
  margin-right: auto;
  border: none;
  font-size: 17px;
  cursor: pointer;
  display: inline-block;
  background: #e31e24;
  color: white;
  padding: 10px;
  margin: 0;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  transition: background 0.3s;
  border: 2px dashed transparent;
  position: relative;

  bottom: 2px;

  &:hover {
    background: #c41a1e;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
}