 .formcalc {
   width: 100%;
   padding: 60px 20px;
   background-image: url('/imgi_16_Thermografisches-Mon.jpg.webp');
   background-repeat: no-repeat;
   background-size: cover;
   //  background-image: radial-gradient(rgba(0, 0, 0, 0.5), rgba(191, 15, 21, 0.01));

   &__container {
     width: 100%;
     max-width: 660px;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     align-items: center;
   }

   &__title {
     font-size: 42px;
     margin-bottom: 40px;
     font-weight: 700;
     text-align: center;
     color: #ffffff;
   }

   &__form {
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 25px;
   }

   @media (min-width: 812px) {
     width: 100%;
   }
 }

 .label {
   display: flex;
   flex-direction: column;
   font-size: 18px;
   font-weight: 500;
   color: #ffffff;
 }

 .label_error {
   display: flex;
   flex-direction: column;
   font-size: 18px;
   font-weight: 500;
   color: #e31e24
 }

 .input {
   margin-top: 10px;
   padding: 14px 18px;
   border: 1px solid #c7c7c7;
   border-radius: 8px;
   font-size: 18px;
   outline: none;
   background: #fff;
   transition: 0.2s;

   &:focus {
     border-color: #e31e24;
   }

   @media (max-width: 650px) {
     margin: 10px
   }
 }

 .error {
   border-color: #e31e24 !important;
 }

 .errmsg {
   margin-top: 6px;
   margin-left: 10px;
   font-size: 10px;
   color: #e31e24;
 }

 .submit {
   margin-top: 10px;
   width: 100%;
   padding: 16px 20px;
   font-size: 20px;
   font-weight: 600;
   color: #fff;
   background: #e31e24;
   border-radius: 10px;
   border: none;
   cursor: pointer;
   transition: 0.2s;

   &:hover {
     opacity: 0.9;
   }

   &:disabled {
     opacity: 0.5;
     cursor: not-allowed;
   }
 }