// .closeButton {
//   position: absolute;
//   top: -7px;
//   right: 3px;
//   font-size: 22px;
//   color: gray;

//   &:hover {
//     cursor: pointer;
//     color: red;
//     transform: scale(1.3);
//   }
// }

// .modalOverlay {
//   position: fixed;
//   inset: 0;
//   background: rgba(0, 0, 0, 0.8);
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   z-index: 1000;
// }

// .modal {
//   padding: 20px;
//   position: relative;
//   background: white;
//   border-radius: 16px;
//   padding: 20px;
//   width: 98vw;
//   max-width: 98vw;
//   min-height: 98vh;
//   max-height: 98vh;
//   overflow-y: auto;
//   scrollbar-width: none;
//   -ms-overflow-style: none;

//   &::-webkit-scrollbar {
//     display: none;

//   }


// }



// .commentsButton {
//   padding: 0 5px;
//   border: none;
//   background-color: transparent;
//   font-size: 15px;
//   color: gray;

//   &:hover {
//     cursor: pointer;
//     color: red;
//     transform: scale(1.3);
//   }
// }



// .file__add {
//   position: relative;
// }

// .file__addSend {
//   border: none;
//   background-color: white;
//   padding: 10px 0;
//   margin-top: 10px;
//   font-size: 35px;
//   position: absolute;
//   right: -10px;
//   top: 7px;
// }

// .file__add_plus {
//   background-color: #e31e24;
//   font-weight: 600;
//   color: white;
//   padding: 5px;
//   margin-top: 10px;
//   font-size: 15px;
//   border: 1px solid #e31e24;
//   border-radius: 5px;
// }

// .file__addbutton {
//   background-color: #e31e24;
//   font-weight: 600;
//   color: white;
//   padding: 5px;
//   margin-top: 10px;
//   font-size: 15px;
//   border: 1px solid #e31e24;
//   border-radius: 5px;
// }

// .files {
//   list-style-type: none;
//   margin-top: 30px;
// }

// .files__file {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
// }

// .orderContainer {
//   display: flex;
// }

// .orderContainer__buttonrule {
//   background-color: #e31e24;
//   font-weight: 600;
//   color: white;
//   padding: 5px;
//   margin-top: 10px;
//   font-size: 15px;
//   border: 1px solid #e31e24;
//   border-radius: 5px;
// }

// .orderContainer__clients {
//   flex: 1 1 0;
//   max-width: 350px;
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   padding: 10px;
//   border: 2px solid black;
//   border-radius: 10px;
//   justify-content: space-between;
//   gap: 10px;
//   margin-top: 20px;
//   margin-bottom: 20px;
// }

// .orderContainer__clients_description {
//   display: flex;
//   flex-wrap: wrap;
// }

// .orderContainer__clients_email {
//   margin-bottom: 0;
//   display: flex;
//   flex-wrap: wrap;
// }

// .orderContainer__clients_files {
//   display: inline-block;
//   padding: 10px;
//   border: 2px solid black;
//   border-radius: 10px;
//   position: relative;
// }

// .orderContainer__clients_linkUser {
//   background-color: #e31e24;
//   font-weight: 600;
//   color: white;
//   padding: 5px;
//   margin-top: 10px;
//   font-size: 15px;
//   border: 1px solid #e31e24;
//   border-radius: 5px;
// }

// .orderContainer__clients_map {
//   margin: 15px 0;
//   background: #e31e24;
//   color: white;
//   padding: 12px 24px;
//   border-radius: 10px;
//   text-decoration: none;
//   font-weight: 600;
//   display: inline-block;
// }

// .orderContainer__clients_name {
//   margin-top: 15px;
//   display: flex;
//   flex-wrap: wrap;
// }

// .orderContainer__clients_phone {
//   display: flex;
//   flex-wrap: wrap;
// }

// .orderContainer__clients_text {
//   margin-left: 5px;
// }

// .orderContainer__clients_title {
//   font-size: 28px;
//   align-self: center;
// }

// .orderContainer__comments {
//   margin-top: 20px;
// }

// .orderContainer__comments_buttonEdit {
//   margin-top: 10px;
// }

// .orderContainer__comments_create {
//   margin-top: 10px;
// }

// .orderContainer__comments_edit {
//   margin-top: 10px;
// }

// .orderContainer__comments_item {
//   margin-top: 10px;
// }

// .orderContainer__comments_text {
//   margin-top: 5px;
// }

// .orderContainer__comments_update {
//   margin-top: 10px;
// }

// .orderContainer__files {
//   flex: 1 1 0;
//   max-width: 350px;
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   padding: 10px;
//   border: 2px solid black;
//   border-radius: 10px;
// }

// .orderContainer__files_add {
//   margin-top: 10px;
// }

// .orderContainer__files_item {
//   position: relative;
// }

// .orderContainer__files_title {
//   font-size: 28px;
//   align-self: center;
// }

// .orderContainer__place {
//   margin-top: 10px;
//   display: flex;
//   margin-bottom: 10px;
//   padding: 10px;
//   border: 2px solid black;
//   border-radius: 10px;
// }

// .orderContainer__place_general {
//   display: flex;
//   flex-direction: column;
// }

// .orderContainer__place_marker {
//   font-size: 28px;
//   align-self: center;
// }

// .orderContainer__place_personal {
//   display: flex;
//   flex-direction: column;
// }

// .orderContainer__place_text {
//   margin-left: 5px;
// }

// .orderContainer__place_title {
//   display: flex;
//   flex-wrap: wrap;
// }

// .orderContainer__place_wrapper {
//   width: 90%;
//   display: flex;
//   flex-direction: column;
// }

// .orderContainer__places {
//   display: flex;
//   flex-direction: column;
// }

// .orderContainer__places_title {
//   font-size: 28px;
//   align-self: center;
// }

// .orderContainer__textblock {
//   margin-top: 10px;
// }

// .orderContainer__textblock_error {
//   color: red;
// }


.closeButton {
  position: absolute;
  top: -7px;
  right: 3px;
  font-size: 22px;
  color: gray;

  &:hover {
    cursor: pointer;
    color: red;
    transform: scale(1.3);
  }
}

.commentsButton {
  padding: 0 5px;
  border: none;
  background-color: transparent;
  font-size: 15px;
  color: gray;

  &:hover {
    cursor: pointer;
    color: red;
    transform: scale(1.3);
  }
}

.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  padding: 20px;
  position: relative;
  background: white;
  border-radius: 16px;
  width: 98vw;
  max-width: 98vw;
  min-height: 98vh;
  max-height: 98vh;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

/* FILE BLOCK */

.files {
  list-style-type: none;
  margin-top: 30px;

  &__add {
    position: relative;
  }

  &__addSend {
    border: none;
    background-color: white;
    padding: 10px 0;
    margin-top: 10px;
    font-size: 35px;
    position: absolute;
    right: -10px;
    top: 7px;
  }

  &__add_plus {
    background-color: #e31e24;
    font-weight: 600;
    color: white;
    padding: 5px;
    margin-top: 10px;
    font-size: 15px;
    border: 1px solid #e31e24;
    border-radius: 5px;
  }

  &__add_button {
    background-color: #e31e24;
    font-weight: 600;
    color: white;
    padding: 5px;
    margin-top: 10px;
    font-size: 15px;
    border: 1px solid #e31e24;
    border-radius: 5px;
  }

  &__file {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
  }

  &__add {
    position: relative;
    display: inline-block;
  }

  &__addClose {
    color: red;
    z-index: 100;
    font-size: 10px;
    right: -7px;
    top: 5px;
  }
}



/* MAIN BLOCK */

.orderContainer {
  display: flex;

  &__buttonRule {
    background-color: #e31e24;
    font-weight: 600;
    color: white;
    padding: 5px;
    margin-top: 10px;
    font-size: 15px;
    border: 1px solid #e31e24;
    border-radius: 5px;
  }

  &__content {
    width: 100%;
  }

  &__info {
    position: relative;
    display: flex;
    align-items: center
  }

  &__title {
    font-size: 28px
  }

  &__qr {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  &__filesList {
    list-style-type: none;
    margin-top: 30px
  }


  /* CLIENTS */

  &__clients {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

    &_client {
      flex: 1 1 0;
      max-width: 350px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
      border: 2px solid black;
      border-radius: 10px;
      // justify-content: space-between;
      gap: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &_title {
      font-size: 28px;
      align-self: center;
    }

    &_name {
      margin-top: 15px;
      display: flex;
      flex-wrap: wrap;
    }

    &_nameText {
      margin-left: 5px;
    }

    &_phone {
      display: flex;
      flex-wrap: wrap;
    }

    &_email {
      margin-bottom: 0;
      display: flex;
      flex-wrap: wrap;
    }

    &_description {
      display: flex;
      flex-wrap: wrap;
    }

    &_textDescription {
      margin-left: 5px;
    }

    &_text {
      margin-left: 5px;
    }

    &_files {
      display: inline-block;
      padding: 10px;
      border: 2px solid black;
      border-radius: 10px;
      position: relative;
    }

    &_linkUser {
      background-color: #e31e24;
      font-weight: 600;
      color: white;
      padding: 5px;
      margin-top: 10px;
      font-size: 15px;
      border: 1px solid #e31e24;
      border-radius: 5px;
    }

    &_map {
      margin: 15px 0;
      background: #e31e24;
      color: white;
      padding: 12px 24px;
      border-radius: 10px;
      text-decoration: none;
      font-weight: 600;
      display: inline-block;
    }

    &_textPhone {
      font-size: 15px;
      padding: 7px;
    }

    &_textEmail {
      font-size: 15px;
      padding: 7px;
    }

  }

  /* FILES */

  &__files {
    flex: 1 1 0;
    max-width: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    list-style-type: none;
    margin-top: 30px;

    &_title {
      // не нашел такого компонента
      font-size: 28px;
      align-self: center;
    }

    &_add {
      margin-top: 10px;
    }

    &_item {
      position: relative;
    }

    &_list {
      list-style-type: none;
      margin-top: 30px
    }
  }

  /* PLACES */

  &__places {
    position: relative;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    &_title {
      text-align: center;
      margin-top: 0;
      font-size: 28px;
    }

    &_map {
      list-style-type: none;
    }
  }

  &__place {
    margin-top: 10px;
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;

    &_wrapper {
      width: 90%;
      display: flex;
      flex-direction: column;
    }

    &_title {
      display: flex;
      flex-wrap: wrap;
    }

    &_marker {
      font-size: 28px;
      align-self: center;
    }

    &_general {
      display: flex;
      flex-direction: column;
    }

    &_personal {
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      border-top: 1px solid black;
    }

    &_text {
      margin-left: 5px;
    }

    span {
      color: red;
    }
  }

  /* COMMENTS */

  &__comments {
    list-style-type: none;

    &_itemBlock {
      border-bottom: 1px solid black;
      border-radius: 30px;
    }

    &_item {
      display: flex;
      margin: 10px 0;
      align-items: center;
    }

    &_text {
      padding-left: 10px;
      text-decoration: underline;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    &_buttonEdit {}

    &_create {
      color: gray;
      padding-top: 5px;
      padding-left: 10px;
      font-size: 10px;
      border-radius: 30px 0;
      border-top: 1px solid black;
    }

    &_edit {
      resize: vertical;
      min-height: 60px;
      width: 100%;
      margin: 10px 0;
    }

    &_update {}
  }

  &__textblock {
    margin-top: 15px;

    &_text {
      margin-left: 5px;
    }

    &_error {
      margin-left: 5px;
      color: red;
      font-weight: 900;
      text-decoration: underline;
    }
  }

  &__commentBlock {
    position: relative;
    display: inline-block;
    margin: 1vh;
    padding: 1vh;
    border: 1px solid #000000;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    margin-top: 20px;

    &_title {
      margin-top: 10px;
      margin-right: 20px;
    }

    &_textblock {
      display: flex
    }

    &_textarea {
      padding: 5px 10px;
      border-radius: 10px;
      resize: vertical;
      min-height: 60px;
      width: 100%;
    }

    &_add {
      border: none;
      padding: 5px 10px;
      background-color: transparent;
    }
  }


}