.who {
  padding: 150px 10%;
  background-color: rgb(185, 49, 37);
  color: white;
  text-align: center
}

.h2 {
  font-size: 48px;
  color: var(--text);
  margin-bottom: 18px
}

.p {
  font-size: 18px;
  line-height: 1.6
}

.barier {
  margin: 0 auto;
  width: 10%;
  height: 2px;
  border: 1px solid white
}

.h3 {
  margin-top: 24px;
  font-size: 22px;
  font-weight: 600
}