.about {
  padding: 80px 40px;
  background: #fff;

  &__title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__text {
    max-width: 700px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    color: #444;
  }
}