*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;      
  overflow-x: hidden;
  scroll-behavior: smooth;     
  scrollbar-width: none;    
  -ms-overflow-style: none;  
}

html::-webkit-scrollbar {
  display: none;            
}
 
body {
  margin: 0;
  min-width: 350px;
    font-family: 'Inter', system-ui, -apple-system, sans-serif; 
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  line-height: 1.5;
  color: #000; 
  background: rgb(185, 49, 37);
  background-image: url('/imgi_14_photo_2025-06-20_13-.jpg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; 
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}
 
a {
  color: inherit;  
  text-decoration: none;
  transition: color 0.2s ease;
}

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
}

/* button:focus-visible,
input:focus-visible,
textarea:focus-visible,
a:focus-visible {
  outline: 2px solid #e31e24;
  outline-offset: 0px;
} */