.header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 auto;
  align-items: center;
  background-color: #ffffff;
  text-wrap: nowrap;

  &__logo {
    font-size: 30px;
    font-weight: 800;
    color: #e31e24;
    position: relative;
    top: -3px
  }

  &__nav {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 30px;

    &_link {
      font-size: 16px;
      text-decoration: none;
      color: #222;
      transition: 0.2s;

      &:hover {
        color: #e31e24;
      }
    }


    &_button {
      display: block;
      width: 100%;
      height: 100%;
      background: #e53535;
      border-radius: 20px;
      color: white;
      padding: 5px 15px;
      font-weight: 600;
      text-decoration: none;
      transition: 0.2s ease;
      font-size: 15px;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: #c62e2e;
        transform: scale(1.01);

      }

      @media (max-width: 480px) {
        font-size: 18px;
      }

      @media (max-width: 320px) {
        font-size: 13px;
      }
    }

    &_button_content {
      display: flex;
      justify-content: center;
      align-items: center;
      // font-size: 25px;
    }

  }


}