.calculator {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.85);
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 20px;
  gap: 20px;
  align-items: flex-end
}


.calculator__add {
  margin-top: 20px;
  background: none;
  border: none;
  color: #ff0d01;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
}

.calculator__grid {
  background-color: rgba(255, 13, 1, 0.7);
  padding: 10px;
  border-radius: 10px;
  margin: 15px
}

/* Примечание */
.calculator__note {
  font-size: 12px;
  opacity: 0.7;
  margin-top: 20px;
  line-height: 1.4;
}


/* Правая колонка */
.calculator__right {
  width: 300px;
  background: #f8f8ff;
  border-radius: 20px;
  padding: 24px;
}


.total__title {
  font-size: 18px;
  font-weight: 600;
}


.total__price {
  margin-top: 10px;
  font-size: 28px;
  font-weight: 700;
}


.total__details {
  margin-top: 10px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}


.total__time {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
}


.total__button {
  width: 100%;
  margin-top: 20px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background: #ff0d01;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}


.total__phone {
  margin-top: 20px;
  font-size: 13px;
}


.total__phone a {
  color: #ff0d01;
  font-weight: 600;
}

// className={styles.field__input_del}

.field__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.field {
  &__input {
    height: 30px;
    border-radius: 5px;
    margin: 0 5px;
    width: 80px;
    text-align: right;
  }
}

.field__group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.field__select {
  height: 30px;
  border-radius: 5px;
  margin: 0 5px;
  text-align: center;
}

.field__labels {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 155px;
}

.fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.field_s {
  display: flex;
  flex-direction: column;
  width: 175px;
}