.contacts {
  padding: 200px 0;
  text-align: left;
  color: #fff;

  &__container {
    margin-left: 20%;
    color: white
  }

  &__title {
    font-size: 56px;
    font-weight: 800;
    max-width: 600px;
  }

  &__button {
    display: inline-block;
    padding: 30px 30px 30px 0;
    margin-right: 15px;
    font-weight: 700;
    color: #fff;
    transition: 0.2s;
    font-size: 20px;

    &:hover {
      transform: scale(1.1);
      color: rgba(255, 255, 255, 0.8)
    }
  }
}